.registrar-game{
    .registrar-game-texto{
        margin: 15px 0;
        color: white;
    }

    .registrar-game-regresar{
        margin-bottom: 15px;
    }

    .registrar-game-button{
        margin-top: 15px;
    }
}